/*
 * -------------------------------------------------
 *  serotyper@KAUST: Identifying Viral Serotypes
 * -------------------------------------------------
 */

// default settings


params{
// IO params
cpus = 10
help = false


input = "fastq/*R{1,2}_001.fastq.gz"
jobs = 2
mode="PE"
outdir="results"
genomesize = 10000
summaryFile = ""
mafftMeta = "db/denv/denv_virstrain_s0.8/mafftMeta.tsv"
assembler="unicycler"
blastdb="db/denv/denv_virstrain_s0.8/denv_blastn_db"


// Extra arguments supplier
fastp_ext = "--detect_adapter_for_pe --qualified_quality_phred 30 --length_required 75 --correction --adapter_fasta ${projectDir}/resources/adapters/TruSeq3-PE.fa"
fastqc_ext = '--quite'
hostile_ext = ""
spades_ext = ""
minimap_ext = "map-ont"
flye_ext ='--nano-hq'
chimeric_ext = "-x ava-ont -g 500"
yacrd_ext= "-c 4 -n 0.4"
canu_ext="-nanopore"


// Logical arguments
skipTrim = false
skipAlignment = false
skipDehost = false
skipAssembly = false
skipBlast = false
skipChimeraDetect = false
}

//def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
profiles {
  conda {
    params.enable_conda = true
    conda.enabled = true
    conda.useMamba = true
  }
}

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
  overwrite=true
  }

report {
  enabled = true
  file = "$params.outdir/report.html"
  overwrite=true
}

trace {
    enabled = true
    file    = "$params.outdir/execution_trace.txt"
  overwrite=true
}
dag {
    enabled = true
    file    = "$params.outdir/pipeline_dag.html"
   overwrite=true
}

process {

  // this is the default task.shell:
  shell = [ '/bin/bash', '-ue' ]

  errorStrategy = 'ignore'
}
