/*
 * -------------------------------------------------
 *  serotyper@KAUST: Identifying Viral Serotypes
 * -------------------------------------------------
 */

// default settings


params{
// IO params
cpus = 10
help = false


input = "fastq/*R{1,2}_001.fastq.gz"
jobs = 2
mode="PE"
outdir="results"
genomesize = 10000
summaryFile = ""
mafftMeta = "db/denv/denv_virstrain_s0.8/mafftMeta.tsv"
assembler="unicycler"
blastdb="db/denv/denv_virstrain_s0.8/denv_blastn_db"
referenceDir=""
clair3model="/data/dengueproj/resources/r1041_e82_400bps_sup_v430"
primerfile='/data/ksa_dengue/serotyper/resources/DENV_multiplex_primer_sets_v1.xlsx'


// Extra arguments supplier
aligntrim_ext='--min-mapq 10'
fastp_ext = "--detect_adapter_for_pe --qualified_quality_phred 30 --length_required 75 --correction --adapter_fasta ${projectDir}/resources/adapters/TruSeq3-PE.fa"
fastqc_ext = '--quite'
hostile_ext = ""
spades_ext = ""
minimap_ext = "lr:hq"
flye_ext ='--nano-hq'
scrubb_ext = "-x ava-ont -g 500"
yacrd_ext= "-c 4 -n 0.4"
canu_ext="-nanopore"
clair3_ext='--platform="ont" --haploid_precise --include_all_ctgs --no_phasing_for_fa --enable_long_indel --enable_variant_calling_at_sequence_head_and_tail --var_pct_full=1 --ref_pct_full=1'
cov="20"

// Logical arguments
skipTrim = false
skipAlignment = false
skipDehost = false
skipDenovoAssembly = false
skipReferenceAssembly = false
skipBlast = false
skipScrubbing = false
skipPrimertrim = false
skipCoinfection = false
}

// Coinfection specific settings
params.coverageCoinfection = 30
params.meandepth           = 5
params.min_reads_coinf     = 500


//def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
profiles {
  conda {
    params.enable_conda = true
    conda.enabled = true
    conda.useMamba = true
  }
}

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
  overwrite=true
  }

report {
  enabled = true
  file = "$params.outdir/report.html"
  overwrite=true
}

trace {
    enabled = true
    file    = "$params.outdir/execution_trace.txt"
  overwrite=true
}
dag {
    enabled = true
    file    = "$params.outdir/pipeline_dag.html"
   overwrite=true
}

process {

  // this is the default task.shell:
  shell = [ '/bin/bash', '-ue' ]

  errorStrategy = 'ignore'
}

process {
  memory = '10 GB'
}
